@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 20px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 35px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 20px;
	font-family: var(--lato);
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}

#main {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

#sidebar.hide ~ #main {
	width: calc(100% - 60px);
	left: 60px;
}


/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav .nav-link {
	font-size: 20px;
	transition: .3s ease;
}

#content nav .nav-link:hover {
	color: var(--blue);
}

.date-time {
    margin-left: auto;
    font-size: 18px;
    color: var(--dark);
}

/* NAVBAR */




/* MAIN */


#main .table-controls {
    display: flex;
    justify-content: center;
    align-items: center;
	gap: 20px;
	margin-top: 20px; 
    margin-right: 20px;
    background-color: var(--light);
    color: var(--dark);
	font-family: var(--lato);
    padding: 10px 20px; 
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#main .search-container{
    display: flex;
    align-items: center;
	margin-left: 20px;
    gap: 5px;
}

#main .search-container i.bx-search-alt-2 {
    font-size: 20px; 
}


#main .search-input{
    border: 1px solid var(--dark); 
    border-radius: 15px;
    padding: 6px 10px; 
	min-height:40px
}

#main .pagination-buttons {
    gap: 5px;
    margin-left: auto; 
}



#main .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px;
    margin-right: 20px; 
    color: var(--dark); 
    background: var(--light); 
    border-radius: 20px; 
    padding: 24px; 
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}




#main .content-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    background-color: var(--light); 
    color: var(--dark); 
    font-size: 0.9em;
    text-align: center;
}


#main .content-table thead tr {
    background-color: var(--dark); 
    color: var(--light); 
    font-weight: bold;
}


#main .content-table th,
#main .content-table td {
    padding: 12px 15px;
}


#main .content-table tbody tr {
    border-bottom: 1px solid var(--grey); 
}


#main .content-table tbody tr:nth-of-type(even) {
    background-color: var(--grey); 
}


#main .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--dark); 
}


#main .content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--dark); 
    background-color: var(--light); 
}



#main #addButton {
    background-color: var(--dark); 
    color: var(--light); 
	border: solid 2px;
	border-color: var(--dark);
    border-radius: 20px; 
    padding: 12px 20px; 
    cursor: pointer;
	margin-top: 20px;
	font-size: 15px;
	transition: background-color 0.3s; 
}


#main #addButton:hover {
    background-color: var(--light); 
    color: var(--dark); 
}

#main button { 
    background-color: var(--dark); 
    color: var(--light); 
	border: solid 2px;
	border-color: var(--dark); 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#main button:hover {
    background-color: var(--light); 
    color: var(--dark); 
}

#main button img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

#main #pagination-button{
	background-color: var(--dark); 
    color: var(--grey); 
    border: solid 2px;
	border-color: var(--dark); 
	border-radius: 30px;
    padding: 8px 13px; 
    cursor: pointer;
	transition: background-color 0.3s;
}

#main #pagination-button:hover{
	background-color: var(--light);
    color: var(--dark);
}



/* MAIN */




@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}





